.app-body{
    background-color:white;
    align-items: center;
    height: 1600px;
}
.c2img{
    width: 1500px;
    height: 850px;
    padding-top: 135px;
    padding-left: 60px;
}
.homeimg{
    width: 1500px;
    height: 800px;
}
.what-we-made{
    padding-left: 60px;
    height: 565px;
}
.we-made-top{
    height: 120px;
}
.title, .btn{
    display: inline-block;
}
.btn{
    padding-left: 1325px;
}
.more-btn{
    padding: 0px;
    padding-left: 9px;
    padding-right: 9px;
    text-align: center;
    justify-content: center;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.457);
    cursor: pointer;
}
.card1, .card2, .card3{
    
    border-radius: 3px;
    z-index: 0;
    width: 320px;
    height: 390px;
    background-size: 320px 390px;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.card h3{
    color: white;
    text-align: center;
    padding-top: 320px;
    text-shadow: 2px 2px #FD0054;
}
.card1{
    position: relative;
    left: 50px;
    background-image: url(/public/img/card1.jpg);
    box-shadow: -30px 30px #FD0054;
}
.card2{
    position: relative;
    left: 280px;
    background-image: url(/public/img/card2.jpg);
    box-shadow: -30px -30px #231e23;
}
.card3{
    position: relative;
    left: 500px;
    background-image: url(/public/img/card3.jpg);
    box-shadow: 30px 30px #FD0054;
}