.magazine{
    height: 670px;
    padding-left: 60px;
    background-color: #FAEDF0;
    padding-top: 40px;
}
.magazine .down{
    width: 360px;
}
.magazine .img1, .magazine .img2, .magazine .img3{
    height: 330px;
    width: 360px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    border-radius: 3px;
}
.magazine .img1{
    background-image: url('/public/img/mag3.jpg');
}
.magazine .img2{
    background-image: url('/public/img/mag5.jpg');
}
.magazine .img3{
    background-image: url('/public/img/mag8.jpg');
}
.magazine .inner-frame{
    display: flex;
    list-style: none;
}
.magazine .inner1{
    padding: 10px;
    padding-right: 40px;
    padding-left: 200px;
    padding-top: 15px;
    height: 510px;
    width: 360px;
    border-radius: 15px;
}
.line1{
    padding: 10px;
    width: 360px;
    border-radius: 5px;
}
.line1:hover{
    background-color: white;
    cursor: pointer;
}
.line1:hover p, .line1:hover h3{
    text-decoration:underline;
}
.magazine .inner2{
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    height: 510px;
    width: 360px;
    border-radius: 15px;
}
.magazine .inner3{
    padding: 10px;
    padding-right: 0px;
    padding-left: 40px;
    padding-top: 15px;
    height: 510px;
    width: 360px;
    border-radius: 15px;
}