.app-body{
    background-color:white;
    align-items: center;
    height: 1500px;
}
.c2img{
    width: 1500px;
    height: 830px;
    padding-top: 150px;
    padding-left: 60px;
}
.homeimg{
    width: 1500px;
    height: 800px;
}
.what-we-made{
    padding-left: 60px;
    border: 1px dotted gray;
    height: 550px;
}
.we-made-top{
    height: 120px;
}
.title, .btn{
    display: inline-block;
}
.btn{
    padding-left: 1325px;
    
}
.more-btn{
    padding: 0px;
    padding-left: 9px;
    padding-right: 9px;
    text-align: center;
    justify-content: center;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}
.card1, .card2, .card3{
    z-index: 0;
    width: 290px;
    height: 360px;
    background-size: 290px 360px;
    background-repeat: no-repeat;
    display: inline-block;
}
.card h3{
    color: white;
    text-align: center;
    padding-top: 290px;
}
.card1{
    position: relative;
    left: 50px;
    background-image: url(/public/img/card1.jpg);
    box-shadow: -20px 20px #FD0054;
}
.card2{
    position: relative;
    left: 320px;
    background-image: url(/public/img/card2.jpg);
    box-shadow: -20px -20px #231e23;
}
.card3{
    position: relative;
    left: 580px;
    background-image: url(/public/img/card3.jpg);
    box-shadow: 20px 20px #FD0054;
}